* {
  font-family: "Montserrat";
}

.btn-primary {
  background-color: #fa4a0c;
  border: none;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #ba3e10;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #fff;
  border: 1px solid transparent;
  color: #000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.header {
  padding: 50px 0 41px;
}

.navbar {
  padding: 0;
}
.navbar-logo {
  width: 150px;
  height: 65px;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-nav {
  gap: 114px;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #252b42;
}
.nav-link:hover, .nav-link:focus {
  color: #fa4a0c;
}
.nav-link.active {
  color: #fa4a0c !important;
}

.bg-body-tertiary {
  background-color: #fff !important;
}

.hero {
  padding: 80px 0 162px;
  background: url(../../images/hero.webp) center/cover no-repeat;
}
.hero__subtitle {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
  color: #f6f6f6;
}
.hero__title {
  max-width: 799px;
  margin: 0 auto;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 58px;
  line-height: 1.38;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.hero__text {
  margin: 10px 0 54px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  text-align: center;
  color: #f6f6f6;
}
.hero__list {
  display: flex;
  justify-content: center;
  gap: 67px;
}
.hero__btn {
  width: 236px;
  padding: 16px 82px;
  border-radius: 30px;
}

.app {
  padding: 56px 0 185px;
}
.app__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 44px;
  line-height: 0.82;
  letter-spacing: 0em;
  color: #000;
  text-align: center;
}
.app__list {
  display: flex;
  flex-direction: column;
  gap: 108px;
}
.app__item {
  display: flex;
  gap: 287px;
  align-items: center;
}
.app__item:nth-child(even) {
  flex-direction: row-reverse;
}
.app__img {
  width: 250px;
  height: 506px;
}
.app__subsubtite {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #fa4a0c;
}
.app__subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #252b42;
}
.app__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  color: #737373;
}

.order {
  padding: 141px 0 132px;
  background: url(../../images/order.webp) center/cover no-repeat;
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}
.order__text {
  margin: 20px 0 59px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}
.order__list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.order__btn {
  padding: 16px 45px;
}

.footer {
  padding: 114px 0 59px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  width: 150px;
  height: 65px;
}
.footer__copyright {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #5c5c5c;
}/*# sourceMappingURL=main.css.map */