.order {
  padding: 141px 0 132px;
  background: url(../../images/order.webp) center / cover no-repeat;

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
  }

  &__text {
    margin: 20px 0 59px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.58;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  &__btn {
    padding: 16px 45px;
  }
}
